
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=8z3pn62mc_JXdotaRM-oaiawK4a62p4LEBtMTYlrJPH8g8gS_jXmmXEusVUeHCpp62ZpVa_J9tvM3nJZ8sUjT4G8zEwyqbu6nSrrnlE3ReDztml5oLR71wPJgPj_0CMx7uXhbUlCVA6tT6f9IBCS8h7NMyOf0UzhElXxuAduEP-pS-JUeCln922KsyYGmcD_-c6Wv4pHjRyExHkJ7k38bN55cXEB-9iHNIvgNZFeaYioffuMs5BfskyUxcxcddbR2MYeOKsTEhfY0_-fDOwtcZmd9mCRjR5zf-mw6ButkGtLehbVO7Q0gw16lzPQwKaRzzFJlPemx0gIyBzLXh63ZGfuRCZ71hWsmAHnrw0rb_vwtJkY2GmBfOw4MLXvGHh5trgazK3VWxE9uYVzFfj57Tmh6S6KQFjYrNnvgirAmO_-zetmJsnT8c3BqZGqVCbvblbEHFDTyHRzIuUNjbs-e95WBvbRcZrzWGl2ZWjP9VJG_FJ_wp_3eknctyRThsycaxXlQDg63wdGyGAwz8MEh2venNZ6r3SN21bhlMwK31TceYutu4CVtDNLT7mOCKOLFrWEWjCt1sAjuNnIwGrbJOyh_MUuAw6tlDOzd6KkJvu6qiJVL8RJGRBM5M6yYbqlKIjQGuArHz5ZobEOtuy2ruEr3Ga39Jd3hMR0KKCwiSIjdPRNkhubhhH8sPXfUKRq66L_g-uirQaMP_NtdlrJwuammqYins0B_iHX5ErFJiDoro3y4NQAZt4HsUQxisHn" charset="UTF-8"></script></head>
<body style="line-height: 18px;">
<table width="850px" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #e6e6e6">
    <tr>
        <td style="border-bottom: #d6d6d6 1px dashed; padding: 7px;">
            <img src="https://system.journeyxpro.com/jxp_data/images/header-logo.png" style="width: 230px;" alt="OCS" />
        </td>
    </tr>
    <tr>
        <td style="padding: 5px;">
            <table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
				<br/><br/>
                __MAILBODY__
				<br/><br/><br/></table>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#0a7a96" style="padding: 5px; height: 35px;">
            <a href="https://system.journeyxpro.com" target="_blank" style="text-decoration:none;"><font face="Arial"
                color="#fff" size="2"><strong>https://system.journeyxpro.com</strong></font></a>
        </td>
    </tr>
    <tr>
        <td height="25px" align="center" bgcolor="#faf9f9" style="padding: 5px;">
            <font face="Arial" color="#666666" size="2"><i>Disclaimer: If you have received this message by error, please ignore it.<br />
            </i></font>
        </td>
    </tr>
</table>
</body>
</html>