<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>JourneyXPro: Reminder</title>
</head>
<body style="line-height: 18px;">
    <table width="850px" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #e6e6e6">
        <tr>
            <td style="border-bottom: #d6d6d6 1px dashed; padding: 7px;">
                <img src="https://system.journeyxpro.com/jxp_data/images/header-logo.png" style="width: 230px;" alt="JXP" />
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr style="height: 30px;">
                        <td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">Dear __NAME__,</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">
                            __MESSAGE__
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr> 
                    <tr>
                        <td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">
                            Regards,						
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">Support</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#0a7a96" style="padding: 5px; height: 35px;">
                <a href="https://system.journeyxpro.com/jxp/home/login.jsp" target="_blank" style="text-decoration:none;">
                    <font face="Arial" color="#fff" size="2"><strong>https://system.journeyxpro.com/jxp/home/login.jsp</strong></font>
                </a>
            </td>
        </tr>
        <tr>
            <td height="25px" align="center" bgcolor="#faf9f9" style="padding: 5px;">
                <font face="Arial" color="#666666" size="2">
                    <i>Disclaimer: If you have received this message by error, please ignore it.</i><br />
                </font>
            </td>
        </tr>
    </table>
</body>
</html>